/** @format */

@import '../mixins';
.About {
	width: 90%;
	margin: auto;
	padding: 0.6rem;
	margin-top: 2rem;
	@include respond(tablet) {
		margin-top: 5rem;
	}

	@include respond(desktop) {
		width: 75%;
		margin-top: 5rem;
	}
}
.aboutmetext {
	@include maintext;
}
.contact {
	margin-top: 1.5rem;
	font-weight: $light;
	@include respond(desktop) {
		text-align: center;
		margin-top: 4rem;
	}

	h3 {
		font-size: 1.4rem;
		margin-top: 0.1rem;
		@include respond(lgmobile) {
			@include fontsize(1.5rem);
		}
		@include respond(tablet) {
			@include fontsize(2rem);
		}
	}
	h4 {
		margin-top: 1rem;
		text-transform: uppercase;
		@include respond(lgmobile) {
			@include fontsize(1.5rem);
		}
		@include respond(desktop) {
			@include fontsize(2rem);
		}
	}
	h5 {
		margin-top: 0.5rem;
		font-size: 1rem;
		text-decoration: underline;
		@include respond(lgmobile) {
			@include fontsize(1.3rem);
		}
		@include respond(lgmobile) {
			@include fontsize(2rem);
		}
	}
}
