.about {
	width: 90%;
	margin: auto;
	padding: 0.6rem;
	margin-top: 5rem;
}
.aboutme {
	h2 {
		font-size: 1rem;
		font-weight: $regular;
		letter-spacing: 0;
		text-transform: uppercase;
	}
	article {
		// text-align: justify;
		p {
			font-size: 1.2rem;
			margin: 2rem 0;
		}
	}
}
.contact {
	// text-align: center;

	h3 {
		font-weight: $regular;
		text-transform: uppercase;
		// text-decoration: underline;
	}
	h4 {
		font-weight: $regular;
		margin-top: 1rem;
	}
}
