// .index {
// 	border: 1px solid red;
// 	height: calc(100vh - #{$nav-height});
// }

.mainpagetext {
	margin-top: 10rem;
	text-align: center;
	box-sizing: border-box;
	padding: 2rem;
	box-sizing: bordero-bx;

	h1 {
		font-size: 6rem;
		font-weight: 400;
		margin: 0px;
		cursor: pointer;
	}
}

.mainpagetextpara {
	margin-top: 0.2rem;
	cursor: pointer;
	p {
		font-size: 2.5rem;
	}
}

.aboutme {
	margin-top: 20px;
	display: grid;
	place-items: center;
	a {
		display: flex;
		text-decoration: none;
		align-items: center;
		justify-content: flex-start;
		&:hover {
			span {
				width: 130px;
			}
		}
		p {
			font-size: 1.2rem;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		div {
			margin-left: 0.8rem;
			display: flex;
			align-items: center;
			position: relative;

			span {
				width: 105px;
				height: 2px;
				background-color: $text;
				display: inline-block;
				transition: width 0.5s ease-in-out;
			}
		}
	}
}

.arrowbtnlogo {
	font-size: 14px;
	color: $text;
	position: absolute;
	right: -1.5px;
}

.social-icons {
	margin-top: 8rem;
	color: $text;
	width: 100%;
	display: gird;
	display: flex;
	justify-content: center;
	gap: 3rem;

	a {
		font-size: 1.5rem;
	}
}
