@import '../mixins';
.mainpagetext {
	margin-top: 30%;
	text-align: center;
	box-sizing: border-box;
	padding: 1.5rem;
	box-sizing: bordero-box;

	h1 {
		font-size: 2.5rem;
		font-weight: 400;
		margin: 0px;
		cursor: pointer;
	}
}

.mainpagetextpara {
	margin-top: 0.2rem;
	cursor: pointer;
	p {
		font-size: 1.5rem;
	}
}

.aboutme {
	margin-top: 20px;

	a {
		@include flex(center);
		display: flex;

		&:hover {
			span {
				width: 100px;
			}
		}
		p {
			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		div {
			margin-left: 0.8rem;
			display: flex;
			align-items: center;
			position: relative;
			display: none;

			span {
				width: 70px;
				height: 2px;
				background-color: $text;
				display: inline-block;
				transition: width 0.5s ease-in-out;
			}
		}
	}
}

.arrowbtnlogo {
	font-size: 14px;
	color: $text;
	position: absolute;
	right: -1.5px;
}

.social-icons {
	position: absolute;
	bottom: 1rem;
	color: $text;
	width: 100%;
	display: gird;
	display: flex;
	justify-content: center;
	gap: 1.5rem;

	a {
		font-size: 1.2rem;
	}
}
