.header {
	padding: 2rem;
	height: $nav-height;
	width: 100%;
	font-size: $regular;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	h3 {
		font-weight: 400;
	}
	.nav-links {
		a {
			padding: 0 1.8rem;
		}
	}
}
