.social-icons {
	position: absolute;
	bottom: 1rem;
	margin-top: 30px;
	color: $text;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1.5rem;

	a {
		font-size: 1.2rem;
		text-decoration: underline;
	}
}
