/** @format */
@import '../_mixins';
.work-wrapper {
	margin-top: 2.5rem;
	@include respond(tablet) {
		margin-top: 4rem;
	}
}
.work-type {
	h3 {
		overflow: hidden;
		text-align: center;
		font-size: 1rem;
		text-transform: capitalize;
		@include respond(tablet) {
			@include fontsize(1.2rem);
		}
		@include respond(desktop) {
			@include fontsize(1.5rem);
		}
	}
	h3:before,
	h3:after {
		content: '';
		background-color: $text;
		display: inline-block;
		height: 1px;
		position: relative;
		vertical-align: middle;
		width: 50%;
	}
	h3:before {
		right: 0.5em;
		margin-left: -50%;
	}
	h3:after {
		left: 0.5em;
		margin-right: -50%;
	}
}

.work-name {
	text-align: center;
	margin: 1rem 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	@include respond(tablet) {
		@include fontsize(2rem);
	}
	@include respond(desktop) {
		margin: 2rem 0;
		@include fontsize(3.5rem);
	}
}
.Work-info {
	width: 100%;
	position: relative;

	@include respond(desktop) {
		margin-top: 1rem;
	}
}
.work-image {
	border: 1px solid $text;
	position: relative;
	height: 0;
	padding-top: 56.25%;
	aspect-ratio: 16/9;
	width: 100%;
	margin-top: 1rem;
	@include respond(tablet) {
		width: 100%;
	}
	@include respond(desktop) {
		width: 100%;
		margin: auto;
	}
}

.work-details {
	width: 100%;
	margin: auto;
	@include respond(desktop) {
		width: 100%;
	}

	p {
		font-size: 1rem;
		margin: 1rem 0;
		@include respond(tablet) {
			@include fontsize(1.5rem);
			margin: 1.5rem 0;
		}
		@include respond(desktop) {
			@include fontsize(2rem);
			margin: 1.5rem 0;
		}
	}
}
.work-stack {
	font-size: 1rem;
	margin: 1rem 0;
	@include respond(tablet) {
		@include fontsize(1.5rem);
		margin: 1.5rem 0;
	}
	@include respond(desktop) {
		@include fontsize(2rem);
		margin: 1.5rem 0;
	}
	text-transform: capitalize;
	// border: 1px solid red;
	li {
		display: inline-block;
	}
}

.Seework {
	font-size: 0.8rem;
	font-weight: $light;
	width: 100px;
	border: 1px solid $text;
	padding: 0.5rem 0rem;
	background: $bg;
	color: $text;
	margin: 1.5rem 0;
	cursor: pointer;
	@include flex(space-evenly);
	@include respond(tablet) {
		@include fontsize(1rem);
		padding: 0.6rem 0rem;
		width: 120px;
	}
	@include respond(desktop) {
		@include fontsize(1.2rem);
		padding: 0.7rem 0rem;
		width: 150px;
		margin-top: 1.5rem;
	}
}
