/** @format */
@mixin flex($jusity-content) {
	display: flex;
	justify-content: $jusity-content;
	align-items: center;
}
@mixin flex-vertical-center {
	display: flex;
	align-items: center;
}
@mixin flex-horizontal-center {
	display: flex;
	justify-content: center;
}
@mixin fontsize($fontsize) {
	font-size: $fontsize;
}
@mixin respond($breakpoint) {
	@if $breakpoint==lgmobile {
		@media only screen and (min-width: 500px) {
			@content;
		}
	}
	@if $breakpoint==tablet {
		@media only screen and (min-width: 700px), (min-height: 850px) {
			@content;
		}
	}
	@if $breakpoint==desktop {
		@media only screen and (min-width: 900px) {
			@content;
		}
	}
}

@mixin maintext {
	h2 {
		font-size: 1.5rem;
		font-weight: $regular;
		letter-spacing: 0;
		text-transform: uppercase;
		@include respond(tablet) {
			@include fontsize(2.5rem);
		}
		@include respond(desktop) {
			@include fontsize(3rem);
		}
	}
	article {
		p {
			font-size: 1.2rem;
			margin: 1.5rem 0;

			@include respond(lgmobile) {
				@include fontsize(1.5rem);
				margin: 2.5rem 0;
			}
			@include respond(tablet) {
				font-size: 2rem;
				font-weight: $light;
			}
			@include respond(desktop) {
				margin: 2.9rem 0;
				@include fontsize(2.5rem);
			}
		}
	}
}
