@mixin flex($jusity-content) {
	display: flex;
	justify-content: $jusity-content;
	align-items: center;
}

@mixin flex-vertical-center {
	display: flex;
	align-items: center;
}
@mixin flex-horizontal-center {
	display: flex;
	justify-content: center;
}

@mixin respond($breakpoint) {
	@if $breakpoint==lgmobile {
		@media only screen and (min-width: 500px) {
			@content;
		}
	}
	@if $breakpoint==tablet {
		@media only screen and (min-width: 700px), (min-height: 850px) {
			@content;
		}
	}
	@if $breakpoint==desktop {
		@media only screen and (min-width: 900px) {
			@content;
		}
	}
}
