/** @format */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

// Variables
$bg: #1c1c1c;
$text: #dacfc0;
$light: 300;
$regular: 400;
$semibold: 600;
$nav-height: 3.5rem;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body,
html {
	position: relative;
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: $bg;
	color: $text;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar {
	display: none;
}
ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
button {
	border: none;
	outline: none;
	display: inline-block;
}

a {
	color: inherit;
	text-decoration: none;
	font-family: 'Inter', sans-serif;
}
p {
	font-weight: $light;
	word-spacing: 2px;
	user-select: none;
	cursor: text;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-weight: $light;
}
.noise {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 10%;
}
span {
	display: inline-block;
}
