@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Variables

$bg: #1c1c1c;
$text: #dacfc0;
$regular: 400;
$nav-height: 3.5rem;

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	margin: 0;
	padding: 0;
	background-color: $bg;
	color: $text;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

.noise {
	z-index: -100;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0.25;
}
